@model IEnumerable<Assessment7_NET.Models.Claim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    Find by VIN: <input type="text" name="vin" />
    <input type="submit" value="Search" class="btn btn-default" /> |
    <a asp-action="Index">Back to Full List</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVehicleNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVehicleNavigation.IdVehicle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdClaim">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdClaim">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdClaim">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
